


.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 10px;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
}

.App-link {
  color: #61dafb;
}

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.input-field {
  margin: 1.5em;
  min-width: 48px;
}

.venues-list-wrapper {
  background-color:#03fbed;
  width:100%;
}

.venues-list-item {
  padding: 10px;
  margin: 10px;
  display: flex;

  list-style-type: none;
  background-color:#6ffff7;
  cursor: pointer;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#map {
        height: 100vh;
        width: 75vw
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 500px) {
  .venues-list-wrapper {background-color: red;}
}
@media screen and (min-width: 800px) {
  .venues-list-wrapper {background-color: yellow;}
}
